*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

.nav-style{
    width: 100%;
}

.nav-style img{
    width: 10%;
}

.search-style{
    color: black;
    margin-top: 3px;
    margin-left: 20px;
    padding: 5px;
}

.search-style:hover{
    color: black;
}

/* jumbotron */

.bg-image{
    background-size: cover;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    height: 800px;
}

.jumbo-content{
    margin: 570px 20px 20px;
}

.bgc-image2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 800px;
}

.p-style{
    max-width: 300px;
}

.jumbo-button{
    padding: 10px;
    background-color: orange;
}

/* footer */

.style{
    width: 100%;
    height: 300px;
}

/* colori */

.bgc-black{
    background-color: black;
}

.bgc-red{
    background-color: red;
}

.bgc-blue{
    background-color: blue;
}

.bgc-lightgray{
    background-color: lightgray;
}

.bgc-darkblue{
    background-color: darkblue;
}

.white{
    color: white;
}

/* debug */

.box{
    height: 100px;
    width: 100px;
    margin: 20px;
}