*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* jumbotron */

.bgc-image{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    height: 800px;
}

.bgc-image2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 800px;
}

.box{
    height: 100px;
    width: 100px;
    margin: 20px;
}

/* footer */

.style{
    width: 100%;
    height: 300px;
}

/* colori */

.bgc-black{
    background-color: black;
}

.bgc-red{
    background-color: red;
}

.bgc-blue{
    background-color: blue;
}

.bgc-lightgray{
    background-color: lightgray;
}

.bgc-darkblue{
    background-color: darkblue;
}